[submodule "cad/cherry-mx-keycaps"]
	path = CAD/cherry-mx-keycaps
	url = git@github.com:ConstantinoSchillebeeckx/cherry-mx-keycaps.git
[submodule "cad/cherry-mx-switch"]
	path = CAD/cherry-mx-switch
	url = git@github.com:ConstantinoSchillebeeckx/cherry-mx-switch.git
[submodule "eagle/cherrymx-eagle"]
	path = eagle/cherrymx-eagle
	url = git@github.com:ConstantinoSchillebeeckx/cherrymx-eagle.git
